/* You can add global styles to this file, and also import other style files */
.avatar_mask_list {
    width: 60px;
    height: 60px;
    border-radius: 900px;
    overflow: hidden;
}

.avatar_mask_list img {
    height: 60px;
}